html {   
    height: 100%;   
}  
body {   
    height: 100%;   
}  
.global-container { 
    
    height: 100%;  
    display: flex;  
    align-items: center;  
    justify-content: center;  
    background-color: #161b22;  
}  
form {  
    padding-top: 10px;  
    font-size: 14px;  
    margin-top: 30px;  
}  
.card-title {   
font-weight: 300;  
 }  
.btn {  
    font-size: 14px;  
    margin-top: 20px;  
}  
.login-form {   
    width: 330px;  
    margin: 20px;  
}  
.sign-up {  
    text-align: center;  
    padding: 20px 0 0;  
}  
.alert {  
    margin-bottom: -30px;  
    font-size: 13px;  
    margin-top: 20px;  
} 

#patientlogin
{
    float: left;
}

#mainclass
{
    margin-left: 200px;
    margin-top: 50px;
    margin-right: 200px;
    
}
#patientcard
{
    margin-left: 100px;
}
body{
    background-color: #7934f7;
}